## Kaggle competition. Sales prediction using ML.

Competition is available at the link https://www.kaggle.com/c/competitive-data-science-predict-future-sales/overview

We need to forecast the number of good which will be sold in each shop next month.

#### Let's start by loading data.

In [1]:
from google.colab import files
files.upload()
!ls -lha kaggle.json
!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

#подгружаем данные с kaggle
!kaggle competitions download -c competitive-data-science-predict-future-sales

Saving kaggle.json to kaggle (4).json
-rw-r--r-- 1 root root 72 Dec 23 09:42 kaggle.json
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
item_categories.csv: Skipping, found more recently modified local copy (use --force to force download)
items.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
sales_train.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
test.csv.zip: Skipping, found more recently modified local copy (use --force to force download)
shops.csv: Skipping, found more recently modified local copy (use --force to force download)
sample_submission.csv.zip: Skipping, found more recently modified local copy (use --force to force download)

In [2]:
#подключаем библиотеки
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter('ignore')

import seaborn as sns
import sys
import itertools
import gc

from sklearn.model_selection import train_test_split
from lightgbm import LGBMRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

import csv
from collections import OrderedDict
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

import datetime
from itertools import product
import statsmodels.api

In [3]:
items = pd.read_csv('items.csv.zip')
categories = pd.read_csv('item_categories.csv')
shops = pd.read_csv('shops.csv')
train = pd.read_csv('sales_train.csv.zip')
sample=pd.read_csv('sample_submission.csv.zip')
test=pd.read_csv('test.csv.zip')

### Data preprocessing: let's start with **train** dataset.

In [4]:
#приводим даты к типу datetime
train["date"] = pd.to_datetime(train["date"], format="%d.%m.%Y")

#убираем возможные выбросы - где цена товара меньше 0 
#если количество проданных товаров меньше 0 - заменяем на 0 (возможно, это были возвраты, тогда продажи по этим наблюдениям равны 0)
train = train[train["item_price"] >= 0]
train[train["item_cnt_day"] < 0] = 0

#убираем значения, которые выходят на 97% квантиль (там есть очень большие выбросы, но их не много)
cols = ['item_price', 'item_cnt_day'] 
Q = train[cols].quantile(0.97)
train = train[(train[cols] < Q).any(axis=1)]

train.shape

(2931258, 6)

In [5]:
#оставляем только те магазины, которые есть в тестовой выборке
train = train.loc[train.shop_id.isin(test["shop_id"].unique()), :]
#train = train.loc[train.item_id.isin(test["item_id"].unique()), :]

In [6]:
#добавляем стобцы days, months, years
days = []
months = []
years = []

for day in train['date']:
    days.append(day.day)
for month in train['date']:
    months.append(month.month)    

train['day'] = days
train['month'] = months
train.head()

                  date  date_block_num  shop_id  ...  item_cnt_day  day  month
0  2013-01-02 00:00:00               0       59  ...           1.0    2      1
1  2013-01-03 00:00:00               0       25  ...           1.0    3      1
3  2013-01-06 00:00:00               0       25  ...           1.0    6      1
4  2013-01-15 00:00:00               0       25  ...           1.0   15      1
5  2013-01-10 00:00:00               0       25  ...           1.0   10      1

[5 rows x 8 columns]

#### Now let's work with additional data - in tables **items, categories, shops**.

In [7]:
for shop_id in shops['shop_id'].unique():
    #считаем количество товаров в магазине
    shops.loc[shop_id, 'num_products'] = train[train['shop_id'] == shop_id]['item_id'].nunique()
    #считаем среднюю цену товара (для разных id товаров) в магазине
    shops.loc[shop_id, 'mean_price'] = train[train['shop_id'] == shop_id]['item_price'].mean()

#выделим город как признак
shops['city'] = shops['shop_name'].apply(lambda x: x.split()[0])
shops['city']=shops['city'].str.replace('!Якутск','Якутск')
shops['city']=shops['city'].factorize()[0]
shops.head()

                        shop_name  shop_id  num_products   mean_price  city
0   !Якутск Орджоникидзе, 56 фран        0           0.0          NaN     0
1   !Якутск ТЦ "Центральный" фран        1           0.0          NaN     0
2                Адыгея ТЦ "Мега"        2        4849.0  1329.814062     1
3  Балашиха ТРК "Октябрь-Киномир"        3        5261.0  1024.915414     2
4        Волжский ТЦ "Волга Молл"        4        7308.0   918.587342     3

In [8]:
#выделим главную категорию из названия("Аксессуары - PS2" и "Аксессуары - PS3" - это все Аксессуары) и сохраним в столбец cat_main
categories['cat_main']=categories['item_category_name'].apply(lambda x: x.split('-')[0])
categories['cat_main'] = categories['cat_main'].factorize()[0]
categories.head()

        item_category_name  item_category_id  cat_main
0  PC - Гарнитуры/Наушники                 0         0
1         Аксессуары - PS2                 1         1
2         Аксессуары - PS3                 2         1
3         Аксессуары - PS4                 3         1
4         Аксессуары - PSP                 4         1

In [9]:
#в этом датасете не будем генерировать доп признаки
items.head()

                                           item_name  item_id  item_category_id
0          ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D        0                40
1  !ABBYY FineReader 12 Professional Edition Full...        1                76
2      ***В ЛУЧАХ СЛАВЫ   (UNV)                    D        2                40
3    ***ГОЛУБАЯ ВОЛНА  (Univ)                      D        3                40
4        ***КОРОБКА (СТЕКЛО)                       D        4                40

In [10]:
#создаем шаблон для матрицы
indexlist = []
for i in train.date_block_num.unique():
  x = itertools.product(
            [i],
            train.loc[train.date_block_num == i].shop_id.unique(),
            train.loc[train.date_block_num == i].item_id.unique(),
        )
  indexlist.append(np.array(list(x)))
df = pd.DataFrame(
        data=np.concatenate(indexlist, axis=0),
        columns=["date_block_num", "shop_id", "item_id"],
    )

In [11]:
#добавим больше признаков в train
train["item_revenue_day"] = train["item_price"] * train["item_cnt_day"]
train_grouped = train.groupby(["date_block_num", "shop_id", "item_id"]).agg(
        item_cnt_month=pd.NamedAgg(column="item_cnt_day", aggfunc="sum"),
        item_revenue_month=pd.NamedAgg(column="item_revenue_day", aggfunc="sum"),
        #первый месяц продаж товара в магазине
        item_min_month=pd.NamedAgg(column="month", aggfunc="min"),
        #здесь средняя цена конкретного товара
        item_mean_price=pd.NamedAgg(column="item_price", aggfunc="mean")).reset_index()
df = df.merge(train_grouped, how="left", on=["date_block_num", "shop_id", "item_id"])
df.head()

   date_block_num  shop_id  ...  item_min_month  item_mean_price
0               0       59  ...             1.0            999.0
1               0       59  ...             NaN              NaN
2               0       59  ...             NaN              NaN
3               0       59  ...             NaN              NaN
4               0       59  ...             NaN              NaN

[5 rows x 7 columns]

In [12]:
#подготовим итоговый датасет
test["date_block_num"] = 34
test = test.drop(columns="ID")
final = pd.concat([df, test[["date_block_num", "shop_id", "item_id"]]])
final.head()

   date_block_num  shop_id  ...  item_min_month  item_mean_price
0               0       59  ...             1.0            999.0
1               0       59  ...             NaN              NaN
2               0       59  ...             NaN              NaN
3               0       59  ...             NaN              NaN
4               0       59  ...             NaN              NaN

[5 rows x 7 columns]

In [13]:
final.item_cnt_month = final.item_cnt_month.fillna(0)
final.item_revenue_month = final.item_revenue_month.fillna(0) 
final.item_min_month = final.item_min_month.fillna(0)
final.item_mean_price = final.item_mean_price.fillna(0)

In [14]:
#объединяем данные
items_more=items.merge(categories[['item_category_id','cat_main']], on='item_category_id', how='left')
final = final.merge(shops[['shop_id','city','num_products','mean_price']], on='shop_id', how='left')
final = final.merge(items_more[['item_id','item_category_id', 'cat_main']], on='item_id', how='left')

In [15]:
#преобразуем данные, чтобы матрица занимала меньше места в памяти
matrix=final
matrix['date_block_num'] = matrix['date_block_num'].astype(np.int8)
matrix['shop_id'] = matrix['shop_id'].astype(np.int8)
matrix['item_id'] = matrix['item_id'].astype(np.int16)
matrix['item_min_month'] = matrix['item_min_month'].astype(np.int8)
matrix['item_mean_price'] = matrix['item_mean_price'].astype(np.int32)
matrix['item_cnt_month'] = matrix['item_cnt_month'].astype(np.int32)
matrix['item_revenue_month'] = matrix['item_revenue_month'].astype(np.int32)
matrix['mean_price'] = matrix['mean_price'].astype(np.int32)
matrix['mean_price'] = matrix['mean_price'].astype(np.int32)
matrix['shop_id'] = matrix['shop_id'].astype(np.int8)
matrix['city'] = matrix['city'].astype(np.int8)
matrix['item_category_id'] = matrix['item_category_id'].astype(np.int8)
matrix['cat_main'] = matrix['cat_main'].astype(np.int8)
matrix['num_products'] = matrix['num_products'].astype(np.int32)
matrix['item_cnt_month'] = matrix['item_cnt_month'].clip(0, 20)
matrix

         date_block_num  shop_id  ...  item_category_id  cat_main
0                     0       59  ...                37        11
1                     0       59  ...                58        13
2                     0       59  ...                58        13
3                     0       59  ...                56        13
4                     0       59  ...                59        13
...                 ...      ...  ...               ...       ...
8807732              34       45  ...                55        13
8807733              34       45  ...                64        14
8807734              34       45  ...                55        13
8807735              34       45  ...                40        11
8807736              34       45  ...                37        11

[8807737 rows x 12 columns]

#### Now we move to building forecasting models.

In [16]:
# функция для добавления спец признаков - lags
def lag_feature(matrix, lag_feature, lags):
    for lag in lags:
        newname = lag_feature + f"_lag_{lag}"
        print(f"Adding feature {newname}")
        targetseries = matrix.loc[:, ["date_block_num", "item_id", "shop_id"] + [lag_feature]]
        targetseries["date_block_num"] += lag
        targetseries = targetseries.rename(columns={lag_feature: newname})
        matrix = matrix.merge(
            targetseries, on=["date_block_num", "item_id", "shop_id"], how="left"
        )
    return matrix

In [17]:
#добавляем лаги
matrix1 = lag_feature(matrix, 'item_cnt_month', lags=[1,2,3])
matrix1 = lag_feature(matrix1, 'item_revenue_month', lags=[1])
matrix1

Adding feature item_cnt_month_lag_1
Adding feature item_cnt_month_lag_2
Adding feature item_cnt_month_lag_3
Adding feature item_revenue_month_lag_1

         date_block_num  ...  item_revenue_month_lag_1
0                     0  ...                       NaN
1                     0  ...                       NaN
2                     0  ...                       NaN
3                     0  ...                       NaN
4                     0  ...                       NaN
...                 ...  ...                       ...
8807732              34  ...                      99.0
8807733              34  ...                       0.0
8807734              34  ...                       0.0
8807735              34  ...                       0.0
8807736              34  ...                       0.0

[8807737 rows x 16 columns]

In [18]:
#уберем период, где не хватает данных
matrix1.fillna(0, inplace= True)
matrix1 = matrix1[matrix1.date_block_num>=12] 
matrix1.reset_index(drop=True, inplace=True)
matrix1

         date_block_num  ...  item_revenue_month_lag_1
0                    12  ...                   54900.0
1                    12  ...                       0.0
2                    12  ...                     188.0
3                    12  ...                       0.0
4                    12  ...                       0.0
...                 ...  ...                       ...
5456443              34  ...                      99.0
5456444              34  ...                       0.0
5456445              34  ...                       0.0
5456446              34  ...                       0.0
5456447              34  ...                       0.0

[5456448 rows x 16 columns]

Divide the sample into train, validation and test.

In [19]:
df=matrix1
dropcols = [
   "shop_id",
   "item_id"
]

In [20]:
keep_from_month = 12  
valid_month = 33
valid = df.loc[df.date_block_num == valid_month, :]
train = df.loc[df.date_block_num < valid_month, :]
train = train[train.date_block_num >= keep_from_month]
X_train = train.drop(columns="item_cnt_month")
y_train = train.item_cnt_month
X_valid = valid.drop(columns="item_cnt_month")
y_valid = valid.item_cnt_month
test = df.drop(columns="item_cnt_month").loc[df.date_block_num == 34, :]

### The first model - **Logistic regression**.

In [51]:
#поставим значения интуитивно 
model_lgb = LGBMRegressor(colsample_bytree=0.9,learning_rate=0.01, max_depth=8,
              n_estimators=30000, num_leaves=700, reg_alpha=0.04, subsample=0.6)

In [54]:
categoricals=["item_category_id","month"]

lgbm = model_lgb.fit(X_train, 
                     y_train,
                     eval_set = [(X_train, y_train), (X_valid, y_valid)],
                     eval_metric ='rmse',
                     categorical_feature = [c for c in categoricals if c in X_train.columns],
                     early_stopping_rounds = 50,
                     verbose = 100)

Training until validation scores don't improve for 50 rounds.
[100]	training's l2: 0.217969	training's rmse: 0.466871	valid_1's l2: 0.164491	valid_1's rmse: 0.405575
[200]	training's l2: 0.037588	training's rmse: 0.193876	valid_1's l2: 0.0288183	valid_1's rmse: 0.16976
[300]	training's l2: 0.00984428	training's rmse: 0.0992184	valid_1's l2: 0.00746981	valid_1's rmse: 0.0864281
[400]	training's l2: 0.00426243	training's rmse: 0.0652873	valid_1's l2: 0.00299773	valid_1's rmse: 0.0547515
[500]	training's l2: 0.0030076	training's rmse: 0.0548416	valid_1's l2: 0.00193108	valid_1's rmse: 0.043944
[600]	training's l2: 0.00254615	training's rmse: 0.0504594	valid_1's l2: 0.00156498	valid_1's rmse: 0.0395598
[700]	training's l2: 0.00233035	training's rmse: 0.0482737	valid_1's l2: 0.0014235	valid_1's rmse: 0.0377292
[800]	training's l2: 0.0022027	training's rmse: 0.0469329	valid_1's l2: 0.00137012	valid_1's rmse: 0.0370152
[900]	training's l2: 0.00211538	training's rmse: 0.0459933	valid_1's l2: 0.00133985	valid_1's rmse: 0.036604
[1000]	training's l2: 0.00204018	training's rmse: 0.0451684	valid_1's l2: 0.00131639	valid_1's rmse: 0.0362821
[1100]	training's l2: 0.00196925	training's rmse: 0.0443762	valid_1's l2: 0.00129761	valid_1's rmse: 0.0360224
[1200]	training's l2: 0.00191468	training's rmse: 0.0437571	valid_1's l2: 0.00127948	valid_1's rmse: 0.0357698
[1300]	training's l2: 0.00186753	training's rmse: 0.043215	valid_1's l2: 0.00126371	valid_1's rmse: 0.0355487
[1400]	training's l2: 0.0018244	training's rmse: 0.042713	valid_1's l2: 0.00125015	valid_1's rmse: 0.0353575
[1500]	training's l2: 0.00178703	training's rmse: 0.0422733	valid_1's l2: 0.00123882	valid_1's rmse: 0.0351969
[1600]	training's l2: 0.00175225	training's rmse: 0.0418599	valid_1's l2: 0.00122718	valid_1's rmse: 0.0350311
[1700]	training's l2: 0.0017182	training's rmse: 0.0414511	valid_1's l2: 0.00121541	valid_1's rmse: 0.0348627
[1800]	training's l2: 0.00168863	training's rmse: 0.0410929	valid_1's l2: 0.00120862	valid_1's rmse: 0.0347653
[1900]	training's l2: 0.00165829	training's rmse: 0.0407221	valid_1's l2: 0.00119933	valid_1's rmse: 0.0346313
[2000]	training's l2: 0.00163023	training's rmse: 0.0403761	valid_1's l2: 0.0011925	valid_1's rmse: 0.0345327
[2100]	training's l2: 0.00160523	training's rmse: 0.0400654	valid_1's l2: 0.00118584	valid_1's rmse: 0.0344361
[2200]	training's l2: 0.0015804	training's rmse: 0.0397542	valid_1's l2: 0.00117797	valid_1's rmse: 0.0343216
[2300]	training's l2: 0.00155658	training's rmse: 0.0394535	valid_1's l2: 0.00117161	valid_1's rmse: 0.0342287
[2400]	training's l2: 0.00153705	training's rmse: 0.0392052	valid_1's l2: 0.00116689	valid_1's rmse: 0.0341598
[2500]	training's l2: 0.00151604	training's rmse: 0.0389363	valid_1's l2: 0.00116376	valid_1's rmse: 0.034114
Early stopping, best iteration is:
[2546]	training's l2: 0.00150323	training's rmse: 0.0387715	valid_1's l2: 0.00116286	valid_1's rmse: 0.0341007

In [55]:
#возможно, модель стоило обучить еще...но дедлайн в 18:00 не позволяет нам 
lgbm.best_score_

defaultdict(dict,
            {'training': {'l2': 0.0015032304026217037,
              'rmse': 0.038771515351114456},
             'valid_1': {'l2': 0.0011628610975446018,
              'rmse': 0.034100749222628554}})

In [58]:
#предсказываем на тестовой
sales_prediction = model_lgb.predict(test)

In [59]:
#проверим качество на тестовой выборке и сохраним результат
test=test=pd.read_csv('test.csv.zip')
test_result= pd.DataFrame(sales_prediction)
test_result.columns = ['item_cnt_month']
predict = test_result['item_cnt_month']
sales_predict_submission = pd.DataFrame({'ID':test['ID'],'item_cnt_month':predict})
sales_predict_submission.to_csv('submission_log_reg.csv', index=False)

![image.png]()


### Now try to train model **XGBoost**. Start with cross validation to choose the correct parameters.

In [21]:
#в целом будем использовать тот же датасет matrix1 (мы его сохранили в df)
#но для кросс-валидации необходимо поделить данные на мелкие выборки
#используем только последние 6 месяцев, иначе модель будет обучаться слишком долго
splits = []
for block in [27, 28, 29, 30, 31, 32]:
    train_idxs = df[df.date_block_num < block].index.values
    test_idxs = df[df.date_block_num == block].index.values
    splits.append((train_idxs, test_idxs))
splits

[(array([      0,       1,       2, ..., 3744772, 3744773, 3744774]),
  array([3744775, 3744776, 3744777, ..., 3966172, 3966173, 3966174])),
 (array([      0,       1,       2, ..., 3966172, 3966173, 3966174]),
  array([3966175, 3966176, 3966177, ..., 4178675, 4178676, 4178677])),
 (array([      0,       1,       2, ..., 4178675, 4178676, 4178677]),
  array([4178678, 4178679, 4178680, ..., 4389005, 4389006, 4389007])),
 (array([      0,       1,       2, ..., 4389005, 4389006, 4389007]),
  array([4389008, 4389009, 4389010, ..., 4604296, 4604297, 4604298])),
 (array([      0,       1,       2, ..., 4604296, 4604297, 4604298]),
  array([4604299, 4604300, 4604301, ..., 4812617, 4812618, 4812619])),
 (array([      0,       1,       2, ..., 4812617, 4812618, 4812619]),
  array([4812620, 4812621, 4812622, ..., 5020569, 5020570, 5020571]))]

In [22]:
X_train.drop('date_block_num', axis=1, inplace=True)
X_valid.drop('date_block_num', axis=1, inplace=True)
X_test = df[df.date_block_num == 34].drop(['item_cnt_month'], axis=1)
X_test.drop('date_block_num', axis=1, inplace=True)

In [23]:
#определим параметры, из которых будем выбирать
hyper_params = {'max_depth': [3, 5, 8], 
                'gamma': [0, 0.5, 1, 2, 5], 
                'subsample': [0.6, 0.8, 1], 
                'colsample_bytree': [0.5, 0.7, 0.9], 
                'learning_rate': [0.01, 0.1, 0.2],
                'max_bin' : [256, 512]
               }

xgbr = XGBRegressor(seed = 13, tree_method = "hist")

In [69]:
clf = RandomizedSearchCV(estimator = xgbr, 
                   param_distributions = hyper_params,
                   n_iter = 2,
                   scoring = 'neg_root_mean_squared_error',
                   cv = splits,
                   verbose=3)
clf.fit(X_train, y_train)

Fitting 6 folds for each of 2 candidates, totalling 12 fits
[13:29:53] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[CV 1/6] END colsample_bytree=0.7, gamma=1, learning_rate=0.01, max_bin=256, max_depth=5, subsample=0.6;, score=-0.604 total time= 1.7min
[13:31:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[CV 2/6] END colsample_bytree=0.7, gamma=1, learning_rate=0.01, max_bin=256, max_depth=5, subsample=0.6;, score=-0.528 total time= 1.7min
[13:33:18] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[CV 3/6] END colsample_bytree=0.7, gamma=1, learning_rate=0.01, max_bin=256, max_depth=5, subsample=0.6;, score=-0.533 total time= 1.8min
[13:35:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[CV 4/6] END colsample_bytree=0.7, gamma=1, learning_rate=0.01, max_bin=256, max_depth=5, subsample=0.6;, score=-0.523 total time= 1.9min
[13:37:02] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[CV 5/6] END colsample_bytree=0.7, gamma=1, learning_rate=0.01, max_bin=256, max_depth=5, subsample=0.6;, score=-0.555 total time= 2.0min
[13:39:03] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[CV 6/6] END colsample_bytree=0.7, gamma=1, learning_rate=0.01, max_bin=256, max_depth=5, subsample=0.6;, score=-0.578 total time= 2.1min
[13:41:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[CV 1/6] END colsample_bytree=0.5, gamma=1, learning_rate=0.01, max_bin=512, max_depth=5, subsample=1;, score=-0.642 total time=  58.7s
[13:42:08] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[CV 2/6] END colsample_bytree=0.5, gamma=1, learning_rate=0.01, max_bin=512, max_depth=5, subsample=1;, score=-0.570 total time= 1.0min
[13:43:10] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[CV 3/6] END colsample_bytree=0.5, gamma=1, learning_rate=0.01, max_bin=512, max_depth=5, subsample=1;, score=-0.573 total time= 1.1min
[13:44:16] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[CV 4/6] END colsample_bytree=0.5, gamma=1, learning_rate=0.01, max_bin=512, max_depth=5, subsample=1;, score=-0.556 total time= 1.1min
[13:45:23] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[CV 5/6] END colsample_bytree=0.5, gamma=1, learning_rate=0.01, max_bin=512, max_depth=5, subsample=1;, score=-0.594 total time= 1.2min
[13:46:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[CV 6/6] END colsample_bytree=0.5, gamma=1, learning_rate=0.01, max_bin=512, max_depth=5, subsample=1;, score=-0.632 total time= 1.3min
[13:47:51] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

RandomizedSearchCV(cv=[(array([      0,       1,       2, ..., 3744772, 3744773, 3744774]),
                        array([3744775, 3744776, 3744777, ..., 3966172, 3966173, 3966174])),
                       (array([      0,       1,       2, ..., 3966172, 3966173, 3966174]),
                        array([3966175, 3966176, 3966177, ..., 4178675, 4178676, 4178677])),
                       (array([      0,       1,       2, ..., 4178675, 4178676, 4178677]),
                        array([4178678, 4178679, 4178680, ..., 4389005, 4389006, 4389007])),
                       (array([      0...
                       (array([      0,       1,       2, ..., 4812617, 4812618, 4812619]),
                        array([4812620, 4812621, 4812622, ..., 5020569, 5020570, 5020571]))],
                   estimator=XGBRegressor(seed=13, tree_method='hist'),
                   n_iter=2,
                   param_distributions={'colsample_bytree': [0.5, 0.7, 0.9],
                                        'gamma': [0, 0.5, 1, 2, 5],
                                        'learning_rate': [0.01, 0.1, 0.2],
                                        'max_bin': [256, 512],
                                        'max_depth': [3, 5, 8],
                                        'subsample': [0.6, 0.8, 1]},
                   scoring='neg_root_mean_squared_error', verbose=3)

In [71]:
clf.best_params_

{'colsample_bytree': 0.7,
 'gamma': 1,
 'learning_rate': 0.01,
 'max_bin': 256,
 'max_depth': 5,
 'subsample': 0.6}

In [24]:
hyper_params = {'max_depth':  5, 
                'gamma':  1, 
                'subsample':  0.6, 
                'colsample_bytree': 0.7, 
                'learning_rate': 0.01,
                'max_bin' : 256
               }

In [25]:
#построим модель с лучшими параметрами
xgbr = XGBRegressor(seed = 13, tree_method = "hist", params=hyper_params)
xgbr.fit(
    X_train,y_train,
    eval_metric="rmse",
    eval_set=[(X_train, y_train), (X_valid, y_valid)],
    verbose=True,
    early_stopping_rounds = 10
    )

[13:57:33] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:1.09601	validation_1-rmse:0.981981
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 10 rounds.
[1]	validation_0-rmse:1.03231	validation_1-rmse:0.914292
[2]	validation_0-rmse:0.978962	validation_1-rmse:0.851985
[3]	validation_0-rmse:0.886173	validation_1-rmse:0.794455
[4]	validation_0-rmse:0.840846	validation_1-rmse:0.746162
[5]	validation_0-rmse:0.795721	validation_1-rmse:0.701674
[6]	validation_0-rmse:0.740663	validation_1-rmse:0.663778
[7]	validation_0-rmse:0.704047	validation_1-rmse:0.629319
[8]	validation_0-rmse:0.670903	validation_1-rmse:0.596774
[9]	validation_0-rmse:0.630175	validation_1-rmse:0.567148
[10]	validation_0-rmse:0.6037	validation_1-rmse:0.541244
[11]	validation_0-rmse:0.576003	validation_1-rmse:0.516947
[12]	validation_0-rmse:0.555025	validation_1-rmse:0.497768
[13]	validation_0-rmse:0.524763	validation_1-rmse:0.473781
[14]	validation_0-rmse:0.503343	validation_1-rmse:0.456879
[15]	validation_0-rmse:0.487073	validation_1-rmse:0.441673
[16]	validation_0-rmse:0.46578	validation_1-rmse:0.423312
[17]	validation_0-rmse:0.444555	validation_1-rmse:0.40551
[18]	validation_0-rmse:0.429023	validation_1-rmse:0.393082
[19]	validation_0-rmse:0.416967	validation_1-rmse:0.381029
[20]	validation_0-rmse:0.403904	validation_1-rmse:0.371517
[21]	validation_0-rmse:0.393013	validation_1-rmse:0.360917
[22]	validation_0-rmse:0.378917	validation_1-rmse:0.348071
[23]	validation_0-rmse:0.369616	validation_1-rmse:0.340145
[24]	validation_0-rmse:0.356898	validation_1-rmse:0.32888
[25]	validation_0-rmse:0.344124	validation_1-rmse:0.316973
[26]	validation_0-rmse:0.333067	validation_1-rmse:0.306843
[27]	validation_0-rmse:0.323977	validation_1-rmse:0.297983
[28]	validation_0-rmse:0.314521	validation_1-rmse:0.289151
[29]	validation_0-rmse:0.307397	validation_1-rmse:0.282972
[30]	validation_0-rmse:0.301627	validation_1-rmse:0.277472
[31]	validation_0-rmse:0.294714	validation_1-rmse:0.271778
[32]	validation_0-rmse:0.289539	validation_1-rmse:0.266151
[33]	validation_0-rmse:0.284479	validation_1-rmse:0.261727
[34]	validation_0-rmse:0.278981	validation_1-rmse:0.256328
[35]	validation_0-rmse:0.275475	validation_1-rmse:0.252541
[36]	validation_0-rmse:0.270132	validation_1-rmse:0.247125
[37]	validation_0-rmse:0.266482	validation_1-rmse:0.243325
[38]	validation_0-rmse:0.263248	validation_1-rmse:0.239886
[39]	validation_0-rmse:0.258882	validation_1-rmse:0.23591
[40]	validation_0-rmse:0.254715	validation_1-rmse:0.231843
[41]	validation_0-rmse:0.251541	validation_1-rmse:0.2283
[42]	validation_0-rmse:0.250181	validation_1-rmse:0.226357
[43]	validation_0-rmse:0.244918	validation_1-rmse:0.221227
[44]	validation_0-rmse:0.241774	validation_1-rmse:0.218277
[45]	validation_0-rmse:0.240622	validation_1-rmse:0.216616
[46]	validation_0-rmse:0.235222	validation_1-rmse:0.211923
[47]	validation_0-rmse:0.232809	validation_1-rmse:0.209001
[48]	validation_0-rmse:0.231804	validation_1-rmse:0.207922
[49]	validation_0-rmse:0.22774	validation_1-rmse:0.203963
[50]	validation_0-rmse:0.22383	validation_1-rmse:0.200528
[51]	validation_0-rmse:0.219365	validation_1-rmse:0.196593
[52]	validation_0-rmse:0.218426	validation_1-rmse:0.19544
[53]	validation_0-rmse:0.217283	validation_1-rmse:0.194439
[54]	validation_0-rmse:0.215285	validation_1-rmse:0.192503
[55]	validation_0-rmse:0.209876	validation_1-rmse:0.18795
[56]	validation_0-rmse:0.208844	validation_1-rmse:0.186971
[57]	validation_0-rmse:0.207538	validation_1-rmse:0.185769
[58]	validation_0-rmse:0.205883	validation_1-rmse:0.183887
[59]	validation_0-rmse:0.200558	validation_1-rmse:0.179255
[60]	validation_0-rmse:0.199453	validation_1-rmse:0.178105
[61]	validation_0-rmse:0.197638	validation_1-rmse:0.176204
[62]	validation_0-rmse:0.194837	validation_1-rmse:0.17351
[63]	validation_0-rmse:0.190434	validation_1-rmse:0.16975
[64]	validation_0-rmse:0.189203	validation_1-rmse:0.168787
[65]	validation_0-rmse:0.186451	validation_1-rmse:0.165886
[66]	validation_0-rmse:0.185455	validation_1-rmse:0.164966
[67]	validation_0-rmse:0.184578	validation_1-rmse:0.163892
[68]	validation_0-rmse:0.182441	validation_1-rmse:0.161696
[69]	validation_0-rmse:0.18153	validation_1-rmse:0.160674
[70]	validation_0-rmse:0.179502	validation_1-rmse:0.158212
[71]	validation_0-rmse:0.178595	validation_1-rmse:0.157606
[72]	validation_0-rmse:0.177187	validation_1-rmse:0.156048
[73]	validation_0-rmse:0.174747	validation_1-rmse:0.153447
[74]	validation_0-rmse:0.17405	validation_1-rmse:0.15279
[75]	validation_0-rmse:0.17253	validation_1-rmse:0.15117
[76]	validation_0-rmse:0.172003	validation_1-rmse:0.150569
[77]	validation_0-rmse:0.171078	validation_1-rmse:0.149957
[78]	validation_0-rmse:0.168612	validation_1-rmse:0.147918
[79]	validation_0-rmse:0.168083	validation_1-rmse:0.14742
[80]	validation_0-rmse:0.167644	validation_1-rmse:0.146641
[81]	validation_0-rmse:0.16552	validation_1-rmse:0.144896
[82]	validation_0-rmse:0.163978	validation_1-rmse:0.143718
[83]	validation_0-rmse:0.163628	validation_1-rmse:0.143048
[84]	validation_0-rmse:0.161469	validation_1-rmse:0.141095
[85]	validation_0-rmse:0.16088	validation_1-rmse:0.140522
[86]	validation_0-rmse:0.160103	validation_1-rmse:0.139836
[87]	validation_0-rmse:0.157482	validation_1-rmse:0.137759
[88]	validation_0-rmse:0.156046	validation_1-rmse:0.136666
[89]	validation_0-rmse:0.155376	validation_1-rmse:0.135712
[90]	validation_0-rmse:0.154876	validation_1-rmse:0.13543
[91]	validation_0-rmse:0.154577	validation_1-rmse:0.135073
[92]	validation_0-rmse:0.153033	validation_1-rmse:0.133828
[93]	validation_0-rmse:0.152467	validation_1-rmse:0.133287
[94]	validation_0-rmse:0.151874	validation_1-rmse:0.132615
[95]	validation_0-rmse:0.151554	validation_1-rmse:0.132417
[96]	validation_0-rmse:0.151015	validation_1-rmse:0.131822
[97]	validation_0-rmse:0.150506	validation_1-rmse:0.130353
[98]	validation_0-rmse:0.149482	validation_1-rmse:0.129496
[99]	validation_0-rmse:0.149022	validation_1-rmse:0.128893

XGBRegressor(params={'colsample_bytree': 0.7, 'gamma': 1, 'learning_rate': 0.01,
                     'max_bin': 256, 'max_depth': 5, 'subsample': 0.6},
             seed=13, tree_method='hist')

In [27]:
xgbr.best_score

0.128893

In [28]:
yhat_test_xgb = xgbr.predict(X_test)

In [29]:
test=pd.read_csv('test.csv.zip')
test_result= pd.DataFrame(yhat_test_xgb)
test_result.columns = ['item_cnt_month']
predict = test_result['item_cnt_month']
sales_predict_submission = pd.DataFrame({'ID':test['ID'],'item_cnt_month':predict})
sales_predict_submission.to_csv('submission_rgboost.csv', index=False)

![image.png]()

#### RMSE of the 2nd model is 1.23. It's lower than for the 1st one that's why the 2nd model predicts the sales in the shops more accurately.